.row,
.columns {
  margin-left: -20px;
  padding: 0;
}
.left {
  background: #003399;
  width: 20%;
  height: 115vh;
  float: left;
  margin-right: 0;
  padding-right: 0;
}
.menu-text {
  padding-right: 10%;
}
.container {
    padding-left: 15%;
}

/*
  ============================================
  Styles
  ============================================
*/

h1 {
  padding-left: 15%;
}

/*
  ============================================
  Icons
  ============================================
*/

i {
  color: white;
  padding-left: 10px;
}

/*
  ============================================
  Navigation
  ============================================
*/

.top-bar {
  background: white;
  margin: 0;
}
.top-bar .menu{
  background: white;
  color: black;
}
a {
  color: #262626;
}
.top-bar {
  padding-left: 100px;
  margin: 0 auto;
}

/*
  ============================================
  Images
  ============================================
*/

img {
  margin: 10px auto;
}
